{% extends 'meetup/main.html'%}
{%load static%}
{%block title%}{{meetup.title}}{%endblock%}

{%block service%}{%endblock%}

{%block project%}{%endblock%}
{%block meetup%}{%endblock%}
{%block slider%}
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">{{meetup.title}}</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">meetup details</a></li>
                <li class="breadcrumb-item" aria-current="page">{{meetup.title}}</li>
            </ol>
        </nav>
    </div>
</div>


{%endblock%}
{%block about%}

<div class="container-fluid py-5 my-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="{{speaker.image.url}}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary">About Speaker</h5>
                <h1 class="mb-4">{{speaker.name}}</h1>
                <h3 class="mb-4">For meetup : {{speaker.meetup_name}}</h3>
                <p>For meetup : {{speaker.meetup_name}}</p>
                    <p>Email:{{speaker.email}}</p>
                 
                    <p>bio:{{speaker.bio}}</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}

