

{% extends 'meetup/main.html'%}
{%load static%}
{%block title%}create meetup{%endblock%}

{%block service%}{%endblock%}

{%block project%}{%endblock%}
{%block meetup%}{%endblock%}
{%block team%}{%endblock%}
{%block slider%}
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">user meetups</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{%url 'meetups'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">user meetups</a></li>
                <li class="breadcrumb-item" aria-current="page"></li>
            </ol>
        </nav>
    </div>
</div>


{%endblock%}
{%block about%}

<div class="container-fluid  ">

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 m-auto">
                <h3>My meetups</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-auto">
              
                    <form method="GET" action="">
                        <div class="input-group">
                        <input type="search" name="q" class='form-control' placeholder="search...."/>
                        <button type="submit" class="btn btn-secondary text-white" >search</button>     
                      
                        <a href="{%url 'user-meetup'%}" class="btn btn-warning text-white" >Reset</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 m-auto">
               
               
                <h1>All  Meetups  </h1>
                
                <table class="table table-bordered table-striped text-center rounded">
                <tr>
                    <th>Meetup Id</th>
                    <th>Meetup Title</th>
                    <th>Organizer Email</th>
                    <th>Participants</th>
                    <th>Speakers</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>delete</th>
                </tr>
                {% for meetup in user_meetups%}
                <tr>
                <td>{{meetup.id}}</td>
                <td>{{meetup.title}}</td>
                <td>{{meetup.organizer_email}}</td>
                <td><a href="{% url 'participants' meetup.id %}" target="_new">Participants</a></td>
                <td><a href="{% url 'add-speaker' meetup.slug %}" target="_new">Add </a></td>
                <td><a href="{% url 'meetup-details' meetup.slug %}" target="_new">View</a></td>
                <td><a href="{% url 'meetup-update' meetup.slug %}"  target="_new">Edit</a></td>
                <td><a href="{% url 'meetup-delete' meetup.slug %}"  target="_new">delete</a></td>
                </tr>
                {%endfor%}
                </table>
                
                <span>Count:{{count}} {%if count > 1 %}
                meetups
                {%else%}
                meetup
                {%endif%}
                </span>
                
              
            </div>
        </div>
      
    </div>
</div>

{%endblock%}

