


{% extends 'meetup/main.html'%}
{%load static%}
{%block title%}create meetup{%endblock%}

{%block service%}{%endblock%}

{%block project%}{%endblock%}
{%block meetup%}{%endblock%}
{%block team%}{%endblock%}
{%block slider%}
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">user speakers</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{%url 'meetups'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">user speakers</a></li>
                <li class="breadcrumb-item" aria-current="page"></li>
            </ol>
        </nav>
    </div>
</div>


{%endblock%}
{%block about%}

<div class="container-fluid  ">

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 m-auto">
                <h3>My Speakers</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-auto mb-2">
              
                    <form method="GET" action="">
                        <div class="input-group">
                        <input type="search" name="q" class='form-control' placeholder="search...."/>
                        <button type="submit" class="btn btn-secondary text-white" >search</button>     
                      
                        <a href="{%url 'user-speaker'%}" class="btn btn-warning text-white" >Reset</a>
                    </form>
                </div>
            </div>
        <div class="row">
            <div class="col-md-8 m-auto"> 
                <h2>All  Speakers </h2>
                
                <table class="table table-bordered table-striped text-center rounded">
                    <tr>
                        <th> Id</th>
                        <th>Meetup Title</th>
                        <th>Name</th>
                       
                        <th>View</th>
                        <th>Edit</th>
                        <th>delete</th>
                    </tr>
                    {% for speaker in user_speakers%}
                    <tr>
                    <td>{{speaker.id}}</td>
                    <td>{{speaker.meetup_name}}</td>
                    <td>{{speaker.name}}</td>
                    <td><a href="{%url 'speaker-details' speaker.id%}"  target="_new">View</a></td>
                    <td><a href="{%url 'speaker-update' speaker.id%}" target="_new">Edit</a></td>
                    <td><a href="{%url 'speaker-delete' speaker.id%}"  target="_new">delete</a></td>
                    </tr>
                    {%endfor%}
                </table>
                
                <span>Count:{{count}} {%if count > 1 %}
                    speakers
                    {%else%}
                    speaker
                    {%endif%}
                </span>
                
              
            </div>
        </div>
      
    </div>
</div>

{%endblock%}



